@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body, html {
    width: 300px;
    height: auto;
    background-color:white;
    font-family: 'Open Sans', sans-serif;
}
.weather-data {
}
.header-title {
    font-size: 1.2em;
}
.header-title span {
    font-size: .6em;
    color: #6a6c6f;
}
.location-details {
    font-size: .9em;
    text-align:right;
}
.weather-details {
    font-size: .8em;
}
.details {
    font-size: 1em;
    font-weight: bold;
}
.details span {
    font-size: .8em;
    color: #646464;
    font-weight: normal;
}
.weather-details-item {
    font-size: 1.2em;
}